S3_BUCKET=s3://ahmz/dots
S3_ENDPOINT_URL=https://s3.ir-thr-at1.arvanstorage.ir
AWS_REGION=ir-thr-at1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
BOOTSTRAP_FETCH_MODE=s3
BOOTSTRAP_INSTALL_REGION=iran
